__pycache__/
*.pt
*.pth
*.h5
*.onnx

node_modules/
frontend/node_modules/
build/
dist/

.wheels/
wheels/
wheels_linux/

.git/
.gitignore
Dockerfile
docker-compose.yml
*.zip
*.tar
*.gz
*.rar

dvc_storage/
data/
datasets/
